<section class="bg-gray-50 dark:bg-gray-900 min-h-screen flex items-center justify-center">
    <div class="container mx-auto max-w-4xl">
        <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
            <div class="flex justify-between items-center mb-6">
                <div class="flex flex-col gap-3">
                    <h1 class="text-3xl font-bold text-gray-800 dark:text-white">Create Your Account</h1>
                    <p class="text-sm text-gray-600 dark:text-gray-400">Welcome to our registration page! Get started by
                        creating your account.</p>
                    <img src="../../../assets/logo/svg/logo-no-background.svg" alt="CashCraft Logo" class="w-80">
                </div>
            </div>
            <form class="space-y-4 md:space-y-6" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <div>
                        <label class="text-sm mb-2 block">Username <span class="text-red-500">*</span></label>
                        <div class="relative">
                            <input name="name" type="text" formControlName="username"
                                class="bg-white border border-gray-300 w-full text-sm px-4 py-2.5 rounded-md outline-blue-500"
                                placeholder="MiHigh" maxlength="24" minlength="8" />
                            <div *ngIf="signupForm.get('username')?.invalid && (signupForm.get('username')?.touched || signupForm.get('username')?.dirty)"
                                class="text-red-600 text-sm mt-1">
                                <div *ngIf="signupForm.get('username')?.errors?.['required']">{{
                                    userValidation.signUp.requiredUsername }}</div>
                                <div *ngIf="signupForm.get('username')?.errors?.['minlength']">{{
                                    userValidation.common.minLength(userValidators.USERNAME_MIN_LENGTH)}}</div>
                                <div *ngIf="signupForm.get('username')?.errors?.['maxlength']">{{
                                    userValidation.common.maxLength(userValidators.USERNAME_MAX_LENGTH) }}</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label class="text-sm mb-2 block">Email <span class="text-red-500">*</span></label>
                        <div class="relative">
                            <div class="hidden"><input type="email"></div>
                            <input name="email" type="email" formControlName="email"
                                class="bg-white border border-gray-300 w-full text-sm px-4 py-2.5 rounded-md outline-blue-500"
                                placeholder="example@gmail.com" minlength="3" maxlength="255" />
                            <div *ngIf="signupForm.get('email')?.invalid && (signupForm.get('email')?.touched || signupForm.get('email')?.dirty)"
                                class="text-red-600 text-sm mt-1">
                                <div *ngIf="signupForm.get('email')?.errors?.['required']">{{
                                    userValidation.signUp.requiredEmail }}</div>
                                <div *ngIf="signupForm.get('email')?.errors?.['email']">{{
                                    userValidation.signUp.invalidEmail }}</div>
                                <div *ngIf="signupForm.get('email')?.errors?.['maxlength']">{{
                                    userValidation.common.maxLength(userValidators.EMAIL_MAX_LENGTH) }}</div>
                                <div *ngIf="signupForm.get('email')?.errors?.['minlength']">{{
                                    userValidation.common.minLength(userValidators.EMAIL_MIN_LENGTH) }}</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label class="text-sm mb-2 block">First Name <span class="text-red-500">*</span></label>
                        <div class="relative">
                            <input name="firstName" type="text" formControlName="firstName"
                                class="bg-white border border-gray-300 w-full text-sm px-4 py-2.5 rounded-md outline-blue-500"
                                placeholder="Mihai" />
                            <div *ngIf="signupForm.get('firstName')?.invalid && (signupForm.get('firstName')?.touched || signupForm.get('firstName')?.dirty)"
                                class="text-red-600 text-sm mt-1">
                                <div *ngIf="signupForm.get('firstName')?.errors?.['required']">{{
                                    userValidation.signUp.requiredFirstName }}</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label class="text-sm mb-2 block">Last Name <span class="text-red-500">*</span></label>
                        <div class="relative">
                            <input name="lastName" type="text" formControlName="lastName"
                                class="bg-white border border-gray-300 w-full text-sm px-4 py-2.5 rounded-md outline-blue-500"
                                placeholder="Neamtiu" />
                            <div *ngIf="signupForm.get('lastName')?.invalid && (signupForm.get('lastName')?.touched || signupForm.get('lastName')?.dirty)"
                                class="text-red-600 text-sm mt-1">
                                <div *ngIf="signupForm.get('lastName')?.errors?.['required']">{{
                                    userValidation.signUp.requiredLastName }}</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label class="text-sm mb-2 block">Country <span class="text-red-500">*</span></label>
                        <div class="relative">
                            <input name="country" type="text" formControlName="country"
                                class="bg-white border border-gray-300 w-full text-sm px-4 py-2.5 rounded-md outline-blue-500"
                                placeholder="Romania" />
                            <div *ngIf="signupForm.get('country')?.invalid && (signupForm.get('country')?.touched || signupForm.get('country')?.dirty)"
                                class="text-red-600 text-sm mt-1">
                                <div *ngIf="signupForm.get('country')?.errors?.['required']">{{
                                    userValidation.signUp.requiredCountry }}</div>
                                <div *ngIf="signupForm.get('country')?.errors?.['invalidCountry']">{{
                                    userValidation.signUp.invalidCountry }}</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label class="text-sm mb-2 block">Phone number <span class="text-red-500">*</span></label>
                        <div class="relative">
                            <input name="phoneNumber" type="text" (focus)="onFocusPhoneNumber()"
                                formControlName="phoneNumber"
                                class="bg-white border border-gray-300 w-full text-sm px-4 py-2.5 rounded-md outline-blue-500"
                                placeholder="+40742133409" />
                            <div *ngIf="signupForm.get('phoneNumber')?.invalid && (signupForm.get('phoneNumber')?.touched || signupForm.get('phoneNumber')?.dirty)"
                                class="text-red-600 text-sm mt-1">
                                <div *ngIf="signupForm.get('phoneNumber')?.errors?.['required']">{{
                                    userValidation.signUp.requiredPhoneNumber }}</div>
                                <div *ngIf="signupForm.get('phoneNumber')?.errors?.['pattern']">{{
                                    userValidation.signUp.invalidPhoneNumber }}</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label class="text-sm mb-2 block">Password <span class="text-red-500">*</span></label>
                        <div class="relative">
                            <div class="hidden">
                                <input type="password">
                            </div>
                            <input name="password" [type]="hide ? 'password' : 'text'" formControlName="password"
                                class="bg-white border border-gray-300 w-full text-sm px-4 py-2.5 rounded-md outline-blue-500"
                                placeholder="Enter your password" maxlength="16" minlength="8" />
                            <div *ngIf="signupForm.get('password')?.invalid && (signupForm.get('password')?.touched || signupForm.get('password')?.dirty)"
                                class="text-red-600 text-sm mt-1">
                                <div *ngIf="signupForm.get('password')?.errors?.['required']">{{
                                    userValidation.signUp.requiredPassword }}</div>
                                <div *ngIf="signupForm.get('password')?.errors?.['pattern']">{{
                                    userValidation.signUp.invalidPassword }}</div>
                            </div>
                            <svg (click)="toggleHide()" xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb"
                                class="w-4 h-4 absolute right-12 top-5 transform -translate-y-1/2 cursor-pointer"
                                viewBox="0 0 128 128">
                                <path
                                    d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="flex items-center mt-2">
                    <input id="termsAndConditions" name="termsAndConditions" type="checkbox"
                        formControlName="termsAndConditions"
                        class="h-4 w-4 shrink-0 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" />
                    <div class="ml-2 text-sm">
                        <label for="termsAndConditions" class="text-gray-500 dark:text-gray-300">I accept the
                            <a href="javascript:void(0);" class="text-blue-600 font-semibold hover:underline">Terms
                                and Conditions</a>
                            <span class="text-red-500">*</span></label>
                    </div>
                    <div *ngIf="signupForm.get('termsAndConditions')?.invalid && (signupForm.get('termsAndConditions')?.touched || signupForm.get('termsAndConditions')?.dirty)"
                        class="text-red-600 text-sm mt-1">
                        <div *ngIf="signupForm.get('termsAndConditions')?.errors?.['required']">{{
                            userValidation.signUp.requiredTerms }}</div>
                    </div>
                </div>
                <div class="mt-6 flex gap-4 items-center">
                    <button type="submit"
                        class="w-full py-3 px-4 text-sm font-semibold rounded text-white bg-gray-700 hover:bg-gray-800 focus:outline-none">
                        Create an account
                    </button>
                    <div role="status" *ngIf="isSubmitting">
                        <svg aria-hidden="true"
                            class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                fill="currentColor" />
                            <path
                                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                fill="currentFill" />
                        </svg>
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <p class="text-sm mt-6 text-center">Already have an account? <a routerLink="/login"
                        class="text-blue-600 font-semibold hover:underline">Login here</a></p>
                <p class="text-sm mt-6 text-center"><a routerLink="/dashboard"
                        class="text-blue-600 font-semibold hover:underline">Back to dashboard &rarr;</a></p>
            </form>
        </div>
    </div>
</section>