<button (click)="openModal(); stopPropagation($event)"
    class="relative inline-flex items-center justify-center text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800"
    type="button" style="background: linear-gradient(to right, #38a169 50%, #e53e3e 50%); width: 130px;">
    <span class="relative z-10 flex-1 text-center">BUY</span>
    <span class="relative z-10 flex-1 text-center">SELL</span>
</button>
<cc-modal [isModalOpen]="isModalOpen">
    <div class="p-4 md:p-5" (click)="stopPropagation($event)">
        <div class=" flex items-center gap-4">
            <div><img class="h-12 w-12 rounded-full" [src]="coin?.image" [alt]="coin?.name"></div>
            <h3 class="text-lg font-normal text-gray-500 dark:text-gray-400">Buy {{ coin?.name }}</h3>
        </div>
        <div class="mb-4 mt-4">
            <div class="flex flex-col gap-2 mb-4">
                <p>Current Balance: <span class="text-blue-600">${{ currentUser?.balance }}</span></p>
                <p>Cryptocurrency Price: <span class="text-blue-600">${{coin?.currentPrice}}</span></p>
                <p>Coin Balance: <span class="text-blue-600">{{userCoinBalance}}</span></p>
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Choose an
                    action</label>
                <div class="flex space-x-4">
                    <label class="inline-flex items-center">
                        <input type="radio"
                            class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                            name="action" value="BUY" [(ngModel)]="transaction.type"
                            [checked]="isModalOpen && transaction.type === 'BUY'">
                        <span class="ml-2 text-gray-600">Buy</span>
                    </label>
                    <label class="inline-flex items-center">
                        <input type="radio"
                            class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                            name="action" value="SELL" [(ngModel)]="transaction.type"
                            [checked]="isModalOpen && transaction.type === 'SELL'">
                        <span class="ml-2 text-gray-600">Sell</span>
                    </label>
                </div>
                <label for="amount"
                    class="gap-0 block mb-2 text-sm font-medium text-gray-500 dark:text-gray-300">Amount</label>
                <input [(ngModel)]="amount" type="number" id="amount" name="amount"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                    placeholder="Enter amount" required min="1" max="99">
                <p *ngIf="transaction.type === 'BUY'">New balance:
                    <span [ngClass]="{
                                          'text-red-500': (number(currentUser?.balance ?? 0) - (number(coin?.currentPrice ?? 0) * number(amount))) < 0,
                                          'text-blue-600': (number(currentUser?.balance ?? 0) - (number(coin?.currentPrice ?? 0) * number(amount))) >= 0
                                        }">
                        $
                        {{ (number(currentUser?.balance ?? 0) - (number(coin?.currentPrice ?? 0) *
                        number(amount))).toFixed(2) }}
                    </span>
                </p>
                <p *ngIf="transaction.type === 'SELL'">New balance:
                    <span [ngClass]="{
                                          'text-red-500': (number(currentUser?.balance ?? 0) + (number(coin?.currentPrice ?? 0) * number(amount))) < 0,
                                          'text-blue-600': (number(currentUser?.balance ?? 0) + (number(coin?.currentPrice ?? 0) * number(amount))) >= 0
                                        }">
                        $
                        {{ (number(currentUser?.balance ?? 0) + (number(coin?.currentPrice ?? 0) *
                        number(amount))).toFixed(2) }}
                    </span>
                </p>

            </div>
            <div class="flex justify-between items-center">
                <button (click)="confirmAction()" type="button"
                    [disabled]="(transaction.type === 'BUY' && (currentUser?.balance - (coin?.currentPrice * amount)) < 0) || (transaction.type === 'SELL' && userCoinBalance < amount)"
                    [ngClass]="{
                              'bg-gray-300': (transaction.type === 'BUY' && (currentUser?.balance - (coin?.currentPrice * amount)) < 0) || (transaction.type === 'SELL' && userCoinBalance < amount),
                              'hover:bg-gray-300': (transaction.type === 'BUY' && (currentUser?.balance - (coin?.currentPrice * amount)) < 0) || (transaction.type === 'SELL' && userCoinBalance < amount),
                              'bg-green-600': transaction.type === 'BUY' && (currentUser?.balance - (coin?.currentPrice * amount)) >= 0,
                              'hover:bg-green-800': transaction.type === 'BUY' && (currentUser?.balance - (coin?.currentPrice * amount)) >= 0,
                              'bg-red-600': transaction.type === 'SELL' && userCoinBalance >= amount,
                              'hover:bg-red-800': transaction.type === 'SELL' && userCoinBalance >= amount
                            }" class="text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:outline-none
                                focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm inline-flex
                                items-center px-5 py-2.5 text-center">
                    {{transaction.type === 'BUY' ? 'Confirm Purchase' : 'Confirm Sale'}}
                </button>

                <div role="status" *ngIf="loading">
                    <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                        viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                            fill="currentColor" />
                        <path
                            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                            fill="currentFill" />
                    </svg>
                    <span class="sr-only">Loading...</span>
                </div>

                <button (click)="closeModal()" type="button"
                    class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Cancel</button>
            </div>
        </div>
    </div>
</cc-modal>